.wrapper {
	width: 100%;
	max-width: 1020px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto;
 }
 
 /* HEADER */
 .header {
	grid-area: header;
	background: #2d303a;
	box-shadow: inset 0px -6px 0px 0px rgba(50, 55, 70, 1);
 }
 
 .header-inner {
	height: 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
 }
 
 .header-logo {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: -1px;
	padding-bottom: 3px;
 }
 
 .header-nav {
	padding-top: 3px;
 }
 
 .header-nav_item {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: -0.75px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	transition: opacity 0.3s;
 }
 