.header	{
	height: 89px;
	background-color: #2d303a;
	display: flex;
	justify-content: space-between;
}

.wrapper	{
	height: 6px;
	background-color: #323746;
}

.logo	{
	font-size: 25px;
	line-height: 6px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 700;
	text-transform: uppercase;
	position: fixed;
	margin-top: 35px;
	margin-left: 40px;
}

.logo-mark	{
	color: #f06c64;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	width: 400px;
	position: fixed;
}